<div class="text-center m-3">
    <!-- <p class="fs-4 fw-bold">Ranjeet Kumar</p>
    <p class="fs-6">rjt.592@jmail.com</p> -->
    <!-- <img src="./assets/images/profile-pic.jpg" alt="" height="100px" width="100px"> -->
     <button class="btn px-3 shadow" routerLink="newpost" (click)="newpost()"> + New Post</button>
 </div>
 <hr>
 <div class="d-block">
     <ul class=" fs-5 fw-bold">
         <li class="mb-3"><i class="bi bi-card-text mx-3 fs-4"></i>Posts<li>
         <li class="mb-3"><i class="bi bi-filter-left mx-3 fs-4"></i>Stats</li>
         <li class="mb-3"><i class="bi bi-file-earmark-text mx-3 fs-4"></i>Comments</li>
         <li class="mb-3"><i class="bi bi-front mx-3 fs-4"></i>Pages</li>
         <li><a href="http://localhost:4200/viewpost" target="_blank"><i class="bi bi-box-arrow-up-right mx-3 fs-4"></i>View Post</a></li>
     </ul>
     
 </div>
