<app-header></app-header>
<div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
    <form class="shadow-lg p-3 mt-5 bg-body-tertiary rounded" style="width: 40%;" [formGroup]="signInForm" (ngSubmit)="signIn()">
        
        <div class="mb-4 mt-3">
            <label for="">Email</label>
            <input type="email" id="password" class="form-control" formControlName="email">
        </div>

        <div>
            <label for="">Enter Password</label>
            <input type="password" id="password" class="form-control mb-4" formControlName="password">
        </div>

        <div class="d-inline border" >
            <button class="btn btn-primary">Sign in</button>
            <div class="float-end">
                <p>If not register?<a href="" routerLink="signup" class="ms-2">Sign up</a></p>
            </div>
        </div>

        <div class="mt-2">
            <a href="">Forgot password?</a>
        </div>
    </form>
</div>
<app-footer></app-footer>